.App {
  text-align: center;
  background-color:black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root{
  text-align: center;
}


.springContainer {
  color:#BA122E;
  color: white;
  background-color: black;
  
}

#map-map{
  padding: 0 55px 0 55px;
}

h2{
  color: #BA122E;
}

h4{
  font-family: 'Sigmar One', cursive;
  font-size: 25px;
  margin: 0;
  color: #BA122E;
}
h3{
  margin: 0 0 10px 0;
  color: #BA122E;
}

p{
  font-family: 'Sigmar One', cursive;
}

button{
  color: #BA122E;
  border-color: white;
  background-color: black;
}

#display-color{
  color: #BA122E;
}

